@model RequestIt.Models.Aanvraag

@{
    ViewData["Title"] = "Create";
}

<h2>Nieuwe Aanvraag</h2>

<h4>Gelieve hier alle info op te geven</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Omschrijving" class="control-label"></label>
                <input asp-for="Omschrijving" class="form-control input-lg" />
                <span asp-validation-for="Omschrijving" class="text-danger"></span>
            </div>           

                <div class="form-group">
                    <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldKlant" class="form-control" />
                    <span asp-validation-for="LinkVoorbeeldKlant" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
                    <input asp-for="LinkVoorbeeldBehandelaar" class="form-control" />
                    <span asp-validation-for="LinkVoorbeeldBehandelaar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                    <a class="btn btn-info" asp-route-userId="@Model.UserId" asp-action="Index">Terug naar overzicht</a>

                </div>
            <input asp-for="UserId" type="hidden" />
            <input asp-for="StatusId" value="43" type="hidden" />
                <input asp-for="StartDatum" value="@DateTime.Now" type="hidden" />
                </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
