@model RequestIt.Models.Aanvraag

@{
    ViewData["Title"] = "Details";
}
@if (Model.IsVraag == true)
{
    <h2>Details van de vraag</h2>
}
else
{
    <h2>Details van de aanvraag</h2>
}


<div>
    <hr />
    @if (Model.IsVraag == true)
    {
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Titel" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Titel" readonly class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Omschrijving" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <textarea asp-for="Omschrijving" rows="4" cols="3" readonly class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="StartDatum" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="StartDatum" readonly class="form-control date-text" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="EindDatum" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="EindDatum" readonly class="form-control date-text" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Status.Naam" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Status.Naam" rows="4" cols="3" readonly class="form-control"/>
            </div>
        </div>
    }
    else
    {


        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Titel" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Titel" readonly class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Omschrijving" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <textarea asp-for="Omschrijving" rows="4" cols="3" readonly class="form-control"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="StartDatum" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="StartDatum" readonly class="form-control date-text" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="EindDatum" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="EindDatum" readonly class="form-control date-text" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="LinkVoorbeeldKlant" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="LinkVoorbeeldKlant" readonly class="form-control url" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="LinkVoorbeeldBehandelaar" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="LinkVoorbeeldBehandelaar" readonly class="form-control url" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label asp-for="Status.Naam" class="control-label"></label>
            </div>
            <div class="col-sm-8">
                <input asp-for="Status.Naam" rows="4" cols="3" readonly class="form-control" />
            </div>
        </div>
    }
</div>

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-info" asp-action="Index" asp-route-id="@Model.UserId">Back to List</a>
    </div>
