@model RequestIt.ViewModels.Statuslijstaanvraag
@using RequestIt.Utility

@{
    ViewData["Title"] = "Edit";
}
@if (Model.Aanvraag.IsVraag == true)
{
    <h2>Pas de vraag aan</h2>
}
else
{
    <h2>Pas aanvraag aan</h2>
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (Model.Aanvraag.IsVraag == true)
    {
        <div class="form-group">
            <label asp-for="Aanvraag.Titel" class="control-label"></label>
            <input asp-for="Aanvraag.Titel" class="form-control" />
            <span asp-validation-for="Aanvraag.Titel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Omschrijving" class="control-label"></label>
            <textarea asp-for="Aanvraag.Omschrijving" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Aanvraag.Omschrijving" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Status" class="control-label"></label>
            <input asp-for="Aanvraag.Status.Naam" readonly class="form-control" />
            <span asp-validation-for="Aanvraag.Status" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="Aanvraag.IsVraag" value=true />

}
else
{

        <input type="hidden" asp-for="Aanvraag.IsVraag" value=false />
        <div class="form-group">
            <label asp-for="Aanvraag.Titel" class="control-label"></label>
            <input asp-for="Aanvraag.Titel" class="form-control" />
            <span asp-validation-for="Aanvraag.Titel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Omschrijving" class="control-label"></label>
            <textarea asp-for="Aanvraag.Omschrijving" class="form-control" rows="3"></textarea>
            <span asp-validation-for="Aanvraag.Omschrijving" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Status" class="control-label"></label>
            <input asp-for="Aanvraag.Status.Naam" readonly class="form-control" />
            <span asp-validation-for="Aanvraag.Status" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.LinkVoorbeeldKlant" class="control-label"></label>
            <input asp-for="Aanvraag.LinkVoorbeeldKlant" class="form-control" />
            <span asp-validation-for="Aanvraag.LinkVoorbeeldKlant" class="text-danger"></span>
        </div>
        @if (User.IsInRole(SD.AdminEndUser) || User.IsInRole(SD.BehandelaarEndUser))
{
        <div class="form-group">
            <label asp-for="Aanvraag.LinkVoorbeeldBehandelaar" class="control-label"></label>
            <input asp-for="Aanvraag.LinkVoorbeeldBehandelaar" class="form-control" />
            <span asp-validation-for="Aanvraag.LinkVoorbeeldBehandelaar" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Status" class="control-label"></label>
            <select asp-for="StatusId" asp-items="@Model.Statusessen" value="@Model.StatusId" class="form-control"></select>
            <span asp-validation-for="Aanvraag.Status" class="text-danger"></span>
        </div>
}
else
{
        <div class="form-group">
            <label asp-for="Aanvraag.LinkVoorbeeldBehandelaar" class="control-label"></label>
            <input asp-for="Aanvraag.LinkVoorbeeldBehandelaar" readonly class="form-control" />
            <span asp-validation-for="Aanvraag.LinkVoorbeeldBehandelaar" class="text-danger"></span>

        </div>
        <div class="form-group">
            <label asp-for="Aanvraag.Status" class="control-label"></label>
            <input asp-for="Aanvraag.Status.Naam" readonly class="form-control" />
            <span asp-validation-for="Aanvraag.Status" class="text-danger"></span>
        </div>
}
}
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
            <input type="hidden" asp-for="Aanvraag.UserId" />
            <input type="hidden" asp-for="Aanvraag.Id" />
            <input type="hidden" asp-for="Aanvraag.StatusId" />
            <input type="hidden" asp-for="Aanvraag.StartDatum" />

        </form>
    </div>
</div>

<div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
